// [A] VARIABLE: declaration

// font size
$font-size-1: small;
$font-size-2: 2.5rem;
$font-size-3: 2rem;
$font-size-4: 1.25rem;
$font-size-5: 34px;
$font-size-6: 1.75rem;
$font-size-7: 1.5rem;
$font-size-8: smaller;
$font-size-9: 15px;
$font-size-10: 20px;
$font-size-11: 40px;
$font-size-12: 1rem;
$font-size-13: 16px;
$font-size-14: 12px;
$font-size-15: 1.1rem;
$font-size-16: 14px;
$font-size-17: 1.8rem;

// font weight
$font-weight-1: normal;
$font-weight-2: medium;
$font-weight-3: 400;
$font-weight-4: 500;
$font-weight-5: 850;
$font-weight-6: 550;
$font-weight-bold: bold;

// colors
$color-black: black;
$color-whitesmoke: whitesmoke;
$color-burlywood: burlywood;
$color-boxShadow: rgba(0, 0, 0, 0.15);
$color-boxShadow1: rgba(0, 0, 0, 0.2);
$color-lightGray: rgb(255 255 255 / 30%);
$color-darkGray: #333;
$color-white: white;
$color-gray: #666;
$color-brown: brown;
$color-button: #007bff;
$color-primary: #d4d4d4;
$color-complementary: #777;
$color-brand: rgba(0, 0, 0, 0.1);
$color-footer: #f8f9fa;
$color-darkBrown: #483c32;
$color-lightBrown: #6e5b4c;
$color-lightWhite: #ecebeb;
$color-littleBitBrown: #6b5b51;
$color-cream: #ded0c0;
$color-lightBrown2: #908579;
